@model IEnumerable<BaseDatosMusica.Models.Colaboracione>

@{
    ViewData["Title"] = "Index";
}

<h1>COLABORACIONES</h1>

<p>
    <a asp-action="Create"><img src="~/img/añadirgrupos.png" width="40px" height="40px" /></a>
</p>
<form asp-controller="Colaboraciones" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artistas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artistas.NombreArtistico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
